@using EVotingSystem.Helpers;
@using Microsoft.AspNetCore.Html;
@using EVotingSystem.Utilities;
@using EVotingSystem.Models.Student;
@using EVotingSystem.Models.Candidate;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model StudentModel
@{
    ViewData["Title"] = "Profile Page";
}
<div class="jumbotron rounded-lg" style="min-height: 65vh">
    <div class="container-fluid">
        <div class="card">
            <h3 class="card-header">Recent Votes</h3>
            <div class="card-deck p-md-4">
                @{ List<CandidateModel> VotedCandidates = CandidateHandler.GetStudentCandidateVotes(Model); }
                @if (VotedCandidates.Count > 0)
                {
                    @foreach (CandidateModel CM in VotedCandidates)
                    {
                        CM.DecryptProperties();
                        <div class="card border-success mb-3" style="max-width: 18rem;">
                            <div class="card-header">
                                <h5 class="card-title text-success">@CM.Id</h5>
                            </div>
                            <div class="card-body text-success text-center">
                                @(new HtmlString(@CandidateHelper.GetCandidateHtmlImage("100px", "100px", CM.Image, true)))
                                <h6 class="card-title pt-md-3">@CM.Name</h6>
                            </div>
                        </div>
                        CM.EncryptProperties();
                    }
                }
                else
                {
                    <div class="card">
                        <p class="card-header">No recent candidate votes were found</p>
                    </div>
                }
            </div>
            <div class="card">
                <h3 class="card-header">Student Information</h3>
                <div class="container p-md-4">
                    @{ Model.DecryptProperties(); }
                    <div class="form-group form-row">
                        <div class="col-md-6 mb-3">
                            <label for="FirstNameTextBox">First Name:</label>
                            <input readonly class="form-control" id="FirstNameTextBox" value="@Model.FirstName">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="LastNameTextBox">Last Name:</label>
                            <input readonly class="form-control" id="LastNameTextBox" value="@Model.LastName">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-md-6 mb-3">
                            <label for="StudentIdTextBox">Student ID:</label>
                            <input readonly class="form-control" id="StudentIdTextBox" value="@Model.StudentId">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="NationalIdTextBox">National ID:</label>
                            <input readonly class="form-control" id="NationalIdTextBox" value="@Model.NationalId">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-md-6 mb-3">
                            <label for="EmailTextBox">Email Address:</label>
                            <input readonly class="form-control" id="EmailTextBox" value="@Model.Email">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="PhoneTextBox">Phone Number:</label>
                            <input readonly class="form-control" id="PhoneTextBox" value="@Model.Phone">
                        </div>
                    </div>
                    <div class="form-group form-row">
                        <div class="col-md-6 mb-3">
                            <label for="GenderTextBox">Gender:</label>
                            <input readonly class="form-control" id="GenderTextBox" value="@Model.Gender">
                        </div>
                    </div>
                    @{ Model.EncryptProperties(); }
                </div>
            </div>
        </div>
    </div>
</div>